<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>HG Project - Ready Room</title>
    <link rel="stylesheet" type="text/css" href="/readyRoomCSS.css">
    <link rel="stylesheet" type="text/css" href="/ingame.css">
</head>
<body>
    <% if(session.user){%>
      <!-- /////////// InGame Area /////////// -->
      <div class="popup" data-popup="popup-4">
          <div class="popup-inner">
              <div id="popup_content">
                  <font style="font-weight: bold;font-size: 40px;">축하합니다!</font><br><br>
                  <font style="font-weight: bold;font-size: 17px;">게임에서 승리하여 100포인트가 적립되었습니다.</font><br><br>
                  <input type="button" value="확인" onclick="win();" style="width:50%;height:20%;"><br>
                  <font style="font-size:10px;color:red;font-weight:bold;"><주의> 확인을 누른 후 접속을 종료해야 포인트가 지급됩니다.</font>
              </div>
          </div>
      </div>
      <div class="popup" data-popup="popup-3">
          <div class="popup-inner">
              <div id="popup_content">
                  <font style="font-weight: bold;font-size: 40px;">아쉬워요..ㅠㅠ</font><br><br>
                  <font style="font-weight: bold;font-size: 17px;">게임에서 패배하였습니다.</font><br>
                  <font style="font-weight: bold;font-size: 17px;">위로의 의미로 20포인트를 적립해드렸어요!</font><br>
                  <input type="button" value="확인" onclick="lose();" style="width:50%;height:20%;"><br>
                  <font style="font-size:10px;color:red;font-weight:bold;"><주의> 확인을 누른 후 접속을 종료해야 포인트가 지급됩니다.</font>
              </div>
          </div>
      </div>
      <div class="popup" data-popup="popup-2">
          <div class="popup-inner">
              <div id="popup_content">
                  <font style="font-weight: bold;font-size: 20px;">순서 정하기</font><br><br>
                  <font style="font-size: 20px;" id="problem"></font><br><br>
                  <input type="text" id="ordans" placeholder="여기에 답을 입력하세요.">
                  <input type="button" value="확인" onclick="ordercheck();" style="width:80%;height:20%;"><br>
                  <font style="font-size:10px;color:red;font-weight:bold;"><주의> 상대보다 느리게 확인 또는 답이 틀릴 시 마지막 순서로 배정됩니다.</font>
              </div>
          </div>
      </div>
      <div id="InGame">
          <div id="gmwrap">
              <div id="gmnotice">
                  <div id="gmnotice_layout">
                      <font id="NameOfTurn" class="timefont">?</font>
                      <font class="timefont">님의 턴 입니다.</font><br><br>
                      <font class="timefont">턴 종료까지 남은시간</font><br>
                      <font id="TimeOfTurn" class="ntfonts">-분 -초</font>
                  </div>
              </div>
              <div id="bell">
                  <img class="imagefull" src="/bell.png">
              </div>
              <div id="you_info">
                  <!-- You Info Area -->
                  <div id="you_info2">

                  </div>
              </div>
              <div id="you_card_area">
                  <div id="you_hidden_card">
                      <img class="imagefull" src="/cards/redb.png">
                  </div>
                  <div id="you_last_card">
                      <img id="yl_card" class="imagefull" src="/cards/emptycard.png">
                  </div>
              </div>
              <div id="my_info">
                  <!-- My Info Area -->
                  <div id="my_info2">

                  </div>
              </div>
              <div id="my_card_area">
                  <div id="my_last_card">
                      <img id="ml_card" class="imagefull" src="/cards/emptycard.png">
                  </div>
                  <div id="my_hidden_card">
                      <img class="imagefull" src="/cards/blueb.png">
                  </div>
              </div>
              <div id="timer">
                  <div id="timer_layout">
                      <text class="timefont">남은 시간</text><br>
                      <text class="timefont" id="gmtime">-분 -초</text>
                  </div>
              </div>
              <div id="gmbtns">
                  <!-- 수정 필요 -->
                  <img class="imagefull btns" src="/Xbtn.png" onclick="showRoom();">
              </div>
              <div id="gmchat">
                  <input id="gmchaton" type="button" value="채팅창 열기" onclick="gmchaton();">
              </div>
              <div id="gmchat_layout">
                  <textarea id="gmchat_log" readonly></textarea>
                  <input id="gmchat_message" type="text" maxlength="100">
                  <input id="gmchat_sub" type="button" value="보내기"/>
              </div>
          </div>
      </div>
      <!-- /////////////////////////////////////////////////////// -->
    <div class="popup" data-popup="popup-1">
        <div class="popup-inner">
            <div id="popup_content">
                <font id="counter" style="font-weight: bold;font-size: 20px;">?</font>
                <font style="font-weight: bold;font-size: 20px;">초 후 게임이 시작됩니다.</font><br><br>
                <div class="loader"></div><br><br>
                <input type="button" value="취소" onclick="closewindow();" style="width:80%;height:20%;">
            </div>
        </div>
    </div>
    <div id="wrap">
        <div id="room">
            <div id="nor">
                <font id="norf">방 제목: <%= Roominfo[0]['title'] %></font>
            </div>
            <div id="player1">
                <div id="player1_info" class="players_info">
                </div>
            </div>
            <div id="player2">
                <div id="player2_info" class="players_info">
                </div>
            </div>
            <div id="player3">
                <div id="player3_info" class="players_info">
                </div>
            </div>
            <div id="player4">
                <div id="player4_info" class="players_info">
                </div>
            </div>
        </div>
        <div id="player">
          <div id="player_n">
              <div id="user_area">
                <div id="connect_user_div">
                  <font id="text">■ 접속자 :</font>
                  <font id="realtime_user" class="text">0</font>
                  <font class="text">명</font>
                </div>
                <div id="player_list">

                </div>
              </div>
          </div>
          <div id="player_chat">
            <div id="chat_titile_div">
              <font id="chat_titile_text"># 채팅방</font>
            </div>
            <div id="chat_area">
              <!-- 채팅 영역 입니다 -->
            </div>
            <div id="chat_sub_div">
              <input type="text" placeholder="채팅을 입력하세요." id="message" type="text" maxlength="100" style="width:97.5%;height:98%;border:1px solid silver;">
            </div>
          </div>
        </div>
        <div id="notice">
            <div id="player_info">
                <div id="player_info2">
                    <form action="/logout">
                        <table>
                            <tr>
                                <td style="text-align: center">
                                    <font class="myfont" style="font-weight: bold;"><%= session.user %>님</font>
                                </td>
                                <td style="text-align: right">
                                    <input class="myfont" type="submit" value="로그아웃">
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="4">
                                    <img src="/profile.png" style="width:100%;height: 100%; max-width: 70px; max-height: 70px;border-radius:50%;">
                                </td>
                                <td>
                                    <a href="#" class="myfont">마이페이지</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font class="myfont">포인트: <%= myresult[0]['point'] %>P</font>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font class="myfont">전적: <%= myresult[0]['win'] %>승 <%= myresult[0]['draw'] %>무 <%= myresult[0]['lose'] %>패</font>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div id="option">
            </div>
            <div id="buttons">
                <a class="btns"><img  onclick="readybtn();" src="/btn.png" style="position: absolute;width:100%;height: 55%;"></a>
                <a href="/room"><img src="/outimg.png" style="position: absolute;width:100%;height: 40%;top:60%;"></a>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
        var socket = io();
        socket.on();
        socket.emit('joinRoom',"<%= id %>");
        $.get('/printuser/'+"<%= session.user %>", function(printU) {
            socket.emit('plusUser',"<%= session.user %>",printU,"<%= id %>");
        });
        socket.emit('OnUser2',"<%=session.user%>","<%=id%>");
        socket.on('RefreshPP',function(){
            refreshPP();
        });

        var TimeId;
        var users = [];
        var soc = [];
        var userprint = [];
        var rstate = [];
        function refreshUS(usersA,socA,printU,stateR)
        {
            users = usersA;
            soc = socA;
            userprint = printU;
            rstate = stateR;
            $('#player_list').empty();
            for(var i=0;i<usersA.length;i++)
            {
              $('#player_list').append('<div class="player_name"><text class="player_font">· '+ usersA[i] +'</text></div>');
            }
            refreshUP();
            refreshRD();
        }
        function refreshUP()
        {
            $('#player1_info').empty();
            $('#player2_info').empty();
            $('#player3_info').empty();
            $('#player4_info').empty();
            $('#player1_info').hide();
            $('#player2_info').hide();
            $('#player3_info').hide();
            $('#player4_info').hide();
            for(var i=0;i<userprint.length;i++)
            {
                if(i==0)
                {
                    $('#player'+(i+1)+'_info').append(`<table><tr><td rowspan="2"><img src="/profile.png" style="width:100%;height: 100%; max-width: 120px; max-height: 120px;border-radius:50%;"></td><td><font class="playerfont">`+users[i]+`님 (방장)</font></td></tr><tr><td><font class="playerfont">전적: `+ userprint[i]['win'] +`승 ` + userprint[i]['draw'] + `무 `+ userprint[i]['lose'] + `패 </font></td></tr></table><img id="prepared`+(i+1)+`" src="/prepare.png" style="position:absolute;width:100%;height:40%;"></img>`);
                    $('#player'+(i+1)+'_info').show();
                }
                else
                {
                    $('#player'+(i+1)+'_info').append(`<table><tr><td rowspan="2"><img src="/profile.png" style="width:100%;height: 100%; max-width: 120px; max-height: 120px;border-radius:50%;"></td><td><font class="playerfont">`+users[i]+`님</font><% if(Maker==1){ %><input type="button" onclick="userout('`+users[i]+`');" value="강퇴"></input><% } %></td></tr><tr><td><font class="playerfont">전적: `+ userprint[i]['win'] +`승 ` + userprint[i]['draw'] + `무 `+ userprint[i]['lose'] + `패 </font></td></tr></table><img id="prepared`+(i+1)+`" src="/prepare.png" style="position:absolute;width:100%;height:40%;"></img>`);
                    $('#player'+(i+1)+'_info').show();
                }
            }
        }
        function refreshRD()
        {
            var c = 0;
            for(var i=0;i<rstate.length;i++)
            {
                if(rstate[i]==1)
                {
                    $('#prepared'+(i+1)).attr("src","/complete.png");
                    c += 1;
                }
                else
                {
                    $('#prepared'+(i+1)).attr("src","/prepare.png");
                }
            }
            if(c==2)
            {
                AllReady();
            }
        }
        function readybtn()
        {
            var state;
            for(var i=0;i<users.length;i++)
            {
                if(users[i]=="<%=session.user%>")
                {
                    state = rstate[i];
                }
            }
            socket.emit('readycomp',"<%=session.user%>","<%=id%>",state==0 ? 1:0);
        }
        function refreshPP()
        {
            $.get('/getRoomPP/'+"<%= id %>", function(result) {
                $('#realtime_user').html(result['online']+"/"+result['player']);
            });
        }
        $('#message').keydown(function(key){
            if(key.keyCode==13)
            {
                // 엔터키 입력 시
                if($('#message').val()!='')
                {
                    socket.emit('send message2', "<%=session.user%>" , $('#message').val(),"<%=id%>");
                    $('#message').val('');
                    $('#message').focus();
                }
            }
        });
        $('#gmchat_message').keydown(function(key){
            if(key.keyCode==13)
            {
                // 엔터키 입력 시
                if($('#gmchat_message').val()!='')
                {
                    socket.emit('send message2', "<%=session.user%>" , $('#gmchat_message').val(),"<%=id%>");
                    $('#gmchat_message').val('');
                    $('#gmchat_message').focus();
                }
            }
        });
        socket.on('receive message2', function(msg){ //3
          var slicing = msg.split('|');
          var nick = slicing[0];
          var message = slicing[1];
          if(nick=="시스템")
          {
            $('#chat_area').append('<div class="chat_nick"><img src="/settings.png" class="chat_img"><font class="chat_nick_text">'+nick+'</font></div><div class="chat_dl_sys"><font class="chat_text">'+message+'</font></div>');
            $('#chat_area').scrollTop($('#chat_area')[0].scrollHeight);
          }
          else if(nick=="<%= session.user %>")
          {
            $('#chat_area').append('<div class="chat_nick"><img src="/profile.png" class="chat_img"><font class="chat_nick_text">'+nick+'</font></div><div class="chat_dl_me"><font class="chat_text">'+message+'</font></div>');
            $('#chat_area').scrollTop($('#chat_area')[0].scrollHeight);
          }
          else
          {
            $('#chat_area').append('<div class="chat_nick"><img src="/profile.png" class="chat_img"><font class="chat_nick_text">'+nick+'</font></div><div class="chat_dl"><font class="chat_text">'+message+'</font></div>');
            $('#chat_area').scrollTop($('#chat_area')[0].scrollHeight);
          }
        });
        socket.on('refreshUS',function(usersA,socA,printU,stateR){
            refreshUS(usersA,socA,printU,stateR);
        });
        socket.on('disAll',function(s){
            for(var i=0;i<soc.length;i++)
            {
                if(soc[i]==s && "<%=Maker%>"=="0")
                {
                    socket.emit('bye',"<%=id%>");
                    location.href = "/room";
                }
            }
        });
        socket.on('roomout',function(s){
            for(var i=0;i<soc.length;i++)
            {
                if(soc[i]==s)
                {
                    users.splice(i,1);
                    soc.splice(i,1);
                    userprint.splice(i,1);
                    rstate.splice(i,1);
                    refreshUS(users,soc,userprint,rstate);
                    socket.emit('sqlRe',"<%=id%>");
                }
            }
        });
        socket.on('RDrefresh',function(stateR){
            rstate = stateR;
            refreshRD();
        });
        socket.on('CanceledST',function(){
            clearTimeout(TimeId);
            $('[data-popup="popup-1"]').fadeOut(350);
        });
        <% if(Maker==1){ %>
        socket.on('add',function(name,so,printU){
            users.push(name);
            soc.push(so);
            userprint.push(printU);
            rstate.push(0);
            socket.emit('sendUS',users,soc,userprint,rstate,"<%=id%>");
            refreshUS(users,soc,userprint,rstate);
        });
        socket.on('readyplus',function(name,state){
            for(var i=0;i<users.length;i++)
            {
                if(users[i]==name)
                {
                    rstate[i] = state;
                }
            }
            socket.emit('refreshRD',rstate,"<%=id%>");
        });
        function userout(name)
        {
            socket.emit('userout',name,"<%=id%>");
        }
        <% }else{ %>
        socket.on('refreshUS',function(usersA,socA,printU,stateR){
            refreshUS(usersA,socA,printU,stateR);
        });
        socket.on('Uout',function(name){
            if(name=="<%=session.user%>")
            {
                location.href = "/room";
            }
        });
        <% } %>
        function openwindow()
        {
            $('[data-popup="popup-1"]').fadeIn(350);
        }
        function closewindow()
        {
            $('[data-popup="popup-1"]').fadeOut(350);
            clearTimeout(TimeId);
            socket.emit('CancelST',"<%=id%>");
            readybtn();
        }
        function AllReady()
        {
            openwindow();
            var cnt = 5;
            $('#counter').html(cnt);
            TimeId = setTimeout("mcount("+cnt+")",1000);
        }
        function mcount(cnt)
        {
            cnt -= 1;
            if(cnt!=0)
            {
                $('#counter').html(cnt);
                TimeId = setTimeout("mcount("+cnt+")",1000);
            }
            else
            {
                // 카운트 이후 동작을 정의할 곳
                showGame();
            }
        }
        function showGame()
        {
            $('#wrap').fadeOut(500);
            $('[data-popup="popup-1"]').fadeOut(500);
            $('#InGame').fadeIn(500);
            readybtn();
            //usersSet();
            //socket.emit('setProblem',"<%=id%>");
        }
        function showRoom()
        {
            $('[data-popup="popup-3"]').fadeOut(500);
            $('[data-popup="popup-4"]').fadeOut(500);
            $('#InGame').fadeOut(500);
            $('#wrap').fadeIn(500);
            clearInterval(IntTimeId);
            initializeSet();
        }
    </script>
    <% }else{ %>
    <a href="/"><h1>로그인이 필요합니다.(이동)</h1></a>
    <% } %>
</body>
</html>
